$lg-size: 768px;
$xs-size: 991px;
$link-gray: #7f878a;
$primary: #1bb39e;

.header {
  display: flex;
  padding: 24px 5px 15px;
  position: fixed;
  z-index: 10;
  font-size: 16px;
  width: 100%;

  @media (min-width: $xs-size) {
    padding-left: 12.5%;
  }

  &.on-top {
    position: absolute;
    top: 0
  }

  @keyframes hide{
    0%   { transform: translateY(0px); }
    100% { transform: translateY(-100px); }
  }

  &.hidden {
    animation-name: hide;
    animation-duration: 0.5s;
    transform: translateY(-100px);
  }

  @keyframes show{
    0%   { transform: translateY(-100px); }
    100% { transform: translateY(0px); }
  }

  &.sticky {
    animation-name: show;
    animation-duration: 0.5s;
    background-color: white;
    transform: translateY(0px);
  }
}

.header-right {
  // zoom: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 2;

  &__link {
    font-weight: normal;
    color: $primary;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: $lg-size) {
      margin-right: 70px;
    }
  }

  .login-avatar {
    width: 32px;
    margin-right: 10px;
  }
}

.header-main {
  display: none;
  align-items: center;

  &__link {
    display: block;
    zoom: 1;
    margin-right: 20px;
    white-space: nowrap;
    position: relative;
    padding: 6px 0;
    color: $primary;
    text-decoration: none;
    border-bottom: 1px solid $primary;

    &:hover {
      border-bottom: 3px solid $primary;
      padding-bottom: 4px;
    }
  }

  @media (min-width: $lg-size) {
    display: flex;
  }

  @media (min-width: $xs-size) {
    width: 765px;
    font-size: 18px;
  }

  @media (min-width: $lg-size) and (max-width: $xs-size) {
    display: flex;
    justify-content: space-between;
    width: 565px;
  }
}

.logo {
  position: relative;
  bottom: 1px;
  display: block;
  height: 48px;
  margin-right: 40px;

  &__img {
    height: 48px;

    @media (min-width: 500px) {
      display: 'block';
    }
  }
}
